.cart-container {


    .cart {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        .cart-item {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin: 10px;

            ul {
                li {
                    list-style: none;
                    font-size: 1.5rem;
                }
            }

            .cart-item-title {
                font-size: 1.5rem;
                font-weight: bold;
                padding-left: 30px;
            }



        }
    }

    .totals-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .totals-count {
            display: flex;
            flex-direction: column;

            .total-item {
                display: flex;
                flex-direction: row;
                margin-top: -4rem;

                h6 {
                    font-size: 1.5rem;
                }

                p {
                    align-self: center;
                    margin-left: 15px;
                    font-size: 1.5rem;
                }
            }
        }
    }

    .total-buttons {
        button {
            font-size: 1.5rem;
            padding: 10px;
            margin-bottom: 10px;
            border-color: #fff;
            background-color: #fff;

        }
    }
}

.no-products {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    p {
        font-size: 2rem;
    }

    .link-home {
        font-size: 2rem;
        text-decoration: none;
        color: #000;
        background-color: #ffff;
        padding: 5px;
    }
}

.title-checkout {
    text-align: center;
    font-size: 2.5rem;
}

.checkout-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: fit-content;
    margin: 0 auto;

    label {
        margin: 1rem;
        font-size: 2rem;

        input {
            margin-left: 50px;
            font-size: 1.5rem;
        }
    }

    .finalizar-compra {
        font-size: 1.5rem;
        margin: 20px;
        background-color: #FFFFFF;
        padding: 8px;
        cursor: pointer;
        text-decoration: none;
        color: #000;
    }

    .finalizar-compra:hover {
        background-color: #B7D3F2;

    }
}