.cart-container {
    height: 100vh;
    background-color: #DD72A6;
    font-family: 'Montserrat', sans-serif;

}

.btn-cross {
    background-color: transparent;
    border: none;
}

.cart-totales {
    font-family: 'Montserrat', sans-serif;
}

.btn-cross:hover {
    color: red;
}

.btn-carrito {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    button {
        font-size: 1.5rem;
        width: max-content;
        margin-top: 20px;
        background-color: #B4FEE7;
        border: none;
        font-family: 'Montserrat', sans-serif;
    }
}

.title-checkout {
    text-align: center;
    padding-top: 20px;
}

.checkout-form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;

    @media(max-width: 768px) {}


    label {
        font-size: 1.5rem;

        @media(max-width: 768px) {
            font-size: 1.2rem;
        }

        #email {
            margin-left: 45px;
        }


        input {
            font-size: 1rem;
            margin-left: 20px;

            @media(max-width: 768px) {
                font-size: 0.8rem;
            }
        }
    }

    .finalizar-compra {
        text-decoration: none;
        background-color: #B4FEE7;
        padding: 15px;
        font-size: 1.5rem;
        margin-top: 20px;
        color: #603F8B;
    }
}


.no-products {
    background-color: #DD72A6;
    height: 100vh;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    p {
        font-size: 1.5rem;
    }

    .link-home {
        text-decoration: none;
        background-color: #B4FEE7;
        padding: 15px;
        font-size: 1.5rem;
        margin-top: 20px;
        color: #603F8B;
    }
}