.container {
    padding-top: 50px;


    .item-detail-container {
        width: 50rem;
        display: grid;
        grid-template-areas:
            "img description description"
            "img description description"
            "img description description"
            "ppp ppp ppp";

        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: auto;


        margin: 0 auto;

        box-shadow: 5px 10px 30px -3px rgba(0, 0, 0, 0.75);
        -webkit-box-shadow: 5px 10px 30px -3px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 5px 10px 30px -3px rgba(0, 0, 0, 0.75);



        .item-detail-img {
            width: 25rem;
        }

        .item-detail-p {
            grid-area: ppp;
            padding: 8px;
            background-color: #fff;
        }

        .item-detail-description {
            grid-area: description;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            margin: 0 auto;
            color: #603F8B;
            background-color: #ffff;
            width: 100%;


            .item-detail-title {
                font-size: 2rem;
                width: 100%;
                margin-top: 10px;
            }

            .item-detail-price {
                width: 100%;
                font-size: 2rem;
            }
        }
    }
}