.container {
    padding-top: 50px;

    .item-detail-container {
        width: auto;
        max-width: 50rem;
        display: grid;
        grid-template-areas:
            "img description"
            "img description"
            "img description"
            "ppp ppp";
        background-color: #fff;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto;
        margin: 0 auto;

        box-shadow: 5px 10px 30px -3px rgba(0, 0, 0, 0.75);
        -webkit-box-shadow: 5px 10px 30px -3px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 5px 10px 30px -3px rgba(0, 0, 0, 0.75);

        @media (max-width: 768px) {
            grid-template-areas:
                "img img"
                "description description"
                "ppp ppp";
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }

        .item-detail-img {
            width: 25rem;

            @media (max-width: 500px) {
                width: 20rem;
            }
        }

        .item-detail-p {
            grid-area: ppp;
            padding: 18px;
            background-color: #fff;
        }

        .item-detail-description {
            grid-area: description;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            margin: 0 auto;
            color: #603F8B;
            background-color: #ffff;
            width: 100%;

            @media (max-width: 768px) {
                padding-left: 10px;
            }


            .item-detail-title {
                font-size: 2rem;
                width: 100%;
                margin-top: 10px;
            }

            .item-detail-price {
                width: 100%;
                font-size: 2rem;
            }
        }
    }
}