.link {
    text-decoration: none;
}
.item{
    margin: 0 8px 4px 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
.imgItem {
        width: 15rem;
        height: 15em;
}
.titleItem{
    font-size: 1.5rem;
}
.priceItem {
    font-size: 1rem;
    font-weight: bold;
    margin-top:-10px;
}
}