.checkout-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    background-color: #DD72A6;
    font-family: 'Montserrat', sans-serif;

    h1 {
        color: #603F8B;
        padding-top: 20px;
        padding-left: 20px;
    }


    p {
        font-size: 1.5rem;
        padding: 20px;



        .idOrder {
            font-weight: bold;
        }
    }
}

.btn-checkout {
    font-size: 1.5rem;
    background-color: #B4FEE7;
    color: #603F8B;
    border: none;
    padding: 10px;
    cursor: pointer;
}