.footerContainer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: #B4FEE7;
    justify-content: center;
    align-items: center;
    font-family: 'Montserrat', sans-serif;


    .footerRedesIcons {
        display: flex;
        flex-direction: row;
        justify-content: center;
        color: #DD72A6;


        i {
            margin: 1rem;
            font-size: 2.5rem;
            cursor: pointer;
        }
    }

    .textFooter {
        color: #603F8B;
    }
}