.loader {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10rem;
}

.item-detail {
    background-color: #DD72A6;
    height: 100vh;

    @media (max-width: 768px) {
        height: 100vh;
        padding-bottom: 50px;
    }
}