.btnContainer {
    button {
        font-size: 1.5rem;
        padding: 8px;
        width: 35px;
        margin: 10px;
    }
    span {
        font-size: 1.5rem;
    }
}
.addProduct {
    font-size: 2rem;
}
