.btnContainer {


    .btnCount {
        font-size: 1rem;
        padding: 10px;
        border-radius: 20%;
        background-color: transparent;
        border: none;

    }

    span {
        font-size: 1.5rem;
        margin: 0 10px;
    }

    .addCart {
        font-size: 1.5rem;
        border: none;
        padding: 8px;
        background-color: #DD72A6;
        border-radius: 10%;
        cursor: pointer;

    }
}

.link-button {
    text-decoration: none;

    .btnFinalizarCompra {
        display: none;
        font-size: 1.5rem;
        border: none;
        padding: 8px;
        background-color: #DD72A6;
        border-radius: 10%;
        cursor: pointer;
    }
}