.container-resumen {
    height: 100vh;
    background-color: #DD72A6;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .resume-compra {
        font-family: 'Montserrat', sans-serif;
        color: #603F8B;
    }

    .items-resumen {
        font-family: 'Montserrat', sans-serif;
        font-size: 1.5rem;
        margin-left: 15px;
    }

    .total-abonar-container {
        border-top: 1px solid #fff;
        width: 400px;
        margin-left: 15px;

        .total-abonar {

            font-family: 'Montserrat', sans-serif;
            font-size: 1.5rem;

        }
    }

    .btn-finalizar {
        text-decoration: none;
        color: #603F8B;
        background-color: #B4FEE7;
        padding: 20px;
        font-family: 'Montserrat', sans-serif;
        font-size: 1.5rem;
    }
}