.item-card {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    height: auto;

    .loader {
        height: 100vh
    }

    p {

        font-size: 2rem;
    }

}