.img-container {
    height: 550px;

    img {
        width: 100%;
        height: 100%;
    }
}

.banner-mobile {
    display: none;

    @media (max-width: 768px) {
        display: block;
    }

    img {
        width: 100%;
    }


}